<footer id="footer" class="mob-footer">
  <div class="row footer">
    <div class="col-md-6">
      <div class="col-md-12">Server Last block</div>
      <div>
        <ul>
          <li>© 2018</li>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
        <div>
          <ul>
            <li>© 2018</li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li>© 2018</li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
    </div>
  </div>
</footer>