<section id="home-section">
    <div id="home-header" class="header" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="header-text">
                        <h1>Cryptocurrency to Realize the Equality of Opportunity.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-4 feature-col">
                    <img src="/assets/images/f1.jpg" alt="" />
                    <h2>Fair</h2>
                    <p>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</span>
                    </p>
                </div>
                <div class="col-md-4 feature-col">
                    <img src="/assets/images/f2.jpg" alt="" />
                    <h2>Fast</h2>
                    <p>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                    </p>
                </div>
                <div class="col-md-4 feature-col">
                    <img src="/assets/images/f3.png" alt="" />
                    <h2>Trusty</h2>
                    <p>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="cta">
        <div class="container">
            <div class="cta-content">
                <h1>Exchange cryptocurrency at the best rate</h1>
            </div>
            <div class="cta-button">
                <a href="exchange"><button class="cta-btn btn">Get Started</button></a>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="row">
                <h2>Get Connect with Us</h2>
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <form class="contact-form">
                        <div class="form-control form-field">
                            <input type="text" class="form-input" name="name" placeholder="Your Name" />
                        </div>
                        <div class="form-control form-field">
                            <input type="text" class="form-input" name="email" placeholder="Your Email" />
                        </div>
                        <div class="form-control form-field">
                            <input type="text" class="form-input" name="msg" placeholder="Your Message" />
                        </div>
                        <div class="form-control form-field">
                            <input type="submit" class="btn form-btn" name="name" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>